# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Ignore changes to unnecessary files
*/Game-Art-3D-Project/.vs/*
*/Game-Art-3D-Project/GameExec_Data/*
*/Game-Art-3D-Project/Library/*
*/Game-Art-3D-Project/obj/*
*/Game-Art-3D-Project/perspective_Data/*
*/Game-Art-3D-Project/ProjectSettings/*
*/Game-Art-3D-Project/AnimTest.sln
*/Game-Art-3D-Project/AnimTest.userprefs
*/Game-Art-3D-Project/AnimTest-csharp.sln
*/Game-Art-3D-Project/Assembly-CSharp.csproj
*/Game-Art-3D-Project/Assembly-CSharp-vs.csproj
*/Game-Art-3D-Project/GameExec.exe
*/Game-Art-3D-Project/perspective.exe